
@import 'config';


//  B A S E

body {
    margin: 0;
}

img {
    width: 100%;
}

.jam-jar {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $large;
    min-width: 320px;
}

[class*=jam-span-] {

    position: relative;
    margin: 0 auto;

    &.jam-align-l {
        margin: 0;
    }

    &.jam-align-r {
        margin: 0 0 0 auto;
    }

    > * {
        box-sizing: border-box;
        position: relative;
        width: 100%;// * Has unexpected effects on elements like paths in svg
    }

    > a {// For a tags containing images
        display: inline-block;
    }

    //  Make images fit their cols
    img {
        box-sizing: border-box;
        width: 100%;
        max-width: none;
    }

}

[class*=jam-cols-] {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


//  M I X I N S

// Set common vars
$cols-min: nth($cols, 1);
$cols-max: nth($cols, -1);

/* Spans */

@mixin span($span, $span-actual, $span-to, $media) {

    // Collapse handheld span widths if $span and $span-to are different

    $span-selects: '';

    @for $span-this from $span through $span-to {

        @if $media == phone-plus {

            @if $span-this != $span-to {

                // Build up the string of selectors to merge before rules

                $span-selects: $span-selects + '.jam-span-#{$span-this}, ';

            } @else {

                // Maximise phone span widths and transfer inset to columns

                #{$span-selects}.jam-span-#{$span-this} {

                    width: percentage($span-actual/$span-max);

                    &[class*=jam-span-] > div, [class*=jam-span-] > div, [class*=jam-cols-] > div {
                        width: 100%;
                    }

                    & [class*=jam-span-].jam-bleed, &[class*=jam-span-] .jam-bleed {
                        margin-left: percentage((($span-max - $span-actual) / 2)/$span-actual) * -1;
                        margin-right: percentage((($span-max - $span-actual) / 2)/$span-actual) * -1;
                        width: percentage(($span-actual + ($span-max - $span-actual))/$span-actual);
                    }

                }

            }

        } @else {

            .jam-span-#{$span-this} {

                width: percentage($span-this/$span-max);

                @for $sub-width from $span-this through $span-min {

                    .jam-span-#{$sub-width} {
                        width: percentage($sub-width/$span-this);
                    }

                }

            }

        }

    }

}

// Return which span a span will merge to
// Amount of spans that merge together set with $spans-merge

@function merge-span($span) {
    $span-remain: ($span-max - $span) / 2;
    $span-mod: ceil($span-remain / $spans-merge);
    $spans-merge: $span-max - ($span-mod * 2);
    @return $spans-merge;
}

// Check media and build standard or merged span

@mixin build-span($media) {

    $spans-merge-last: $span-max;
    
    @for $span from $span-max through $span-min {

        @if $media == large {
        
            @include span($span, $span, $span, $media);

        }
        
        @if $media == phone-plus {
            
            @if $span < $spans-merge-last {

                @for $sub-span from $span through $span-min {

                    @if merge-span($sub-span) == merge-span($span) {
                        $spans-merge-last: $sub-span;
                    }

                }

                @include span($span, merge-span($span), $spans-merge-last, $media);

            }
            
        }
        
    }
    
}

@include build-span(large);

/* Gaps */

@mixin gaps($media) {

    [class*=jam-cols-] {
        margin: jam-gap-y($media, 1.25) auto;
    }

    [class*=jam-span], [class*=jam-cols-] > div {// NB not jam-span- so jam-span class can be used to invoke the gutter padding

        > *:not(div):not(section):not(li) {
            padding: 0 jam-gap-x($media, 0.5);
        }

    }

    @if $media != phone and $media != plus {

        [class*=jam-cols-] > div {
            margin-bottom: jam-gap-y($media, 0.75);
        }

    } @else {

        [class*=jam-cols-] > div:not(:last-child) {
            margin-bottom: jam-gap-y($media, 1);
        }

    }

    [class*=jam] {// Increase specificity and allow usage on jam-jar

        @for $padding from $padding-mod-max through 1 {

            &.jam-top-#{$padding}, .jam-top-#{$padding} {
                padding-top: jam-gap-y($media, $padding * 0.5);
            }

            &.jam-bottom-#{$padding}, .jam-bottom-#{$padding} {
                padding-bottom: jam-gap-y($media, $padding * 0.5);
            }

            @if $media == phone or $media == plus {

                &.jam-top-ph-#{$padding}, .jam-top-ph-#{$padding} {
                    padding-top: jam-gap-y($media, $padding * 0.5);
                }
    
                &.jam-bottom-ph-#{$padding}, .jam-bottom-ph-#{$padding} {
                    padding-bottom: jam-gap-y($media, $padding * 0.5);
                }

            }

        }

        &.jam-top-ph-0, .jam-top-ph-0 {
            padding-top: 0;
        }
    
        &.jam-bottom-ph-0, .jam-bottom-ph-0 {
            padding-bottom: 0;
        }

    }

}

@include gaps(large);

/* Uniform column widths */

@each $col in $cols {

    .jam-cols-#{$col} > div {
        width: percentage(1/$col);
    }

    .jam-cols-#{$col} > div:nth-last-of-type(-n+#{$col}) {
        margin-bottom: 0;
    }

}

/* Flip */

.jam-flip {
    flex-direction: row-reverse;
}

/* Media query loop */

@each $media in $all-media {
    
    @include jam-media($media) {

        @if $media != large {
            @include build-span($media);
        }

        // Avoid double-ups
        @if $media != large and $media != phone-plus {
            @include gaps($media);
        }

        @if $media == phone-plus {

            // Removing gaps around full-bleed images on phone
            [class*=jam-span].jam-bleed, [class*=jam-span] .jam-bleed {

                *, div {
                    padding: 0;
                }

            }

        }

    }

}
