
//  S E T U P

html {
    
   font-size: 62.5%;// 16 / 10
        
    @include media(phone-tablet) {
        font-size: 56.25%;// 16 / 9
    }
    
}

body {
    
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
        
    strong {
        font-weight: 600;
    }
    
}


//  M I X I N S

@mixin h1 {
    
    margin: 0 0 2rem 0;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 4.8rem;
        
    @include media(phone) {
        margin: 0 0 2rem 0;
        font-size: 4.0rem;
        line-height: 4.4rem;
    }
    
}

@mixin h2 {
    margin: 0 0 2rem 0;
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 4.0rem;
}

@mixin h3 {
    margin: 0 0 2rem 0;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3.6rem;
}

@mixin h4 {
    margin: 0 0 2rem 0;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.2rem;
}

@mixin p-xlarge {
    margin: 0 0 2rem 0;
    font-size: 2.2rem;
    line-height: 3.0rem;
}

@mixin p-large {
    margin: 0 0 2rem 0;
    font-size: 2.0rem;
    line-height: 2.8rem;
}

@mixin p {
    margin: 0 0 2rem 0;
    padding: 0;
    font-size: 1.7rem;
    line-height: 2.6rem;
}

@mixin p-small {
    margin: 0 0 1.8rem 0;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
}

@mixin p-tiny {
    margin: 0 0 1.6rem 0;
    font-size: 1.3rem;
    line-height: 2.0rem;
    letter-spacing: 0.01em;
}


//   S T Y L E S

h1 {
   @include h1;
}

p + h1 {
    margin-top: 2.8rem;
}

h2 {
    @include h2;
}

p + h2 {
    margin-top: 2.4rem;
}

h3 {
   @include h3;
}

p + h3 {
    margin-top: 2.4rem;
}

h4 {
   @include h4;
}

p + h4 {
    margin-top: 2.4rem;
}

p.large, blockquote {
   @include p-large;
}

p, li {
   @include p;
}

p.small, .small p, .small li, p.disclaimer {
    @include p-small;
    margin-bottom: 1.4rem;
}

p.tiny, .tiny p, .tiny li {
    @include p-tiny;
    margin-bottom: 1.2rem;
}

h5, h6 {
    @include p-tiny;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

ul, ol {
    margin: 0 0 2.4rem 0;
}

li {
    margin-bottom: 0.2rem;
    padding-left: 0.3em;
    text-align: left;
}

ul li {
   list-style-type: disc;
   margin-left: 1.7rem;
}

ol li {
    list-style: decimal;
    margin-left: 1.9rem;
}

nav {
    
    ul li {
        @include p-large;
        display: inline-block;
        list-style: none;
        margin-left: 1.7rem;
        margin-bottom: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

}

nav ul li:first-of-type {
    margin-left: 0;
}

blockquote {
    padding-left: 0;
}

.disclaimer {
    @include p-tiny;
    color: $grey-50;
}

ul + .disclaimer, p + .disclaimer {
   margin-top: -1.4rem;
}
