
@import '../drift/base';
@import '../drift/grid';
@import '../drift/type';

body {
    margin: 0;
}

$all-media: phone, plus, tablet, standard, large;

@function get-gap($media) {
        
    $gap: '';
    
    @if $media == phone {
        $gap: $xgap-ph;
    }   

    @if $media == plus {
        $gap: $xgap-pl;
    }

    @if $media == tablet {
        $gap: $xgap-tb;
    }

    @if $media == standard {
        $gap: $xgap-st;
    }

    @if $media == large {
        $gap: $xgap-lg;
    }
    
    @return $gap;
    
}

.main {

    @each $media in $all-media {

        @include media($media) {
            
            @if $media == phone or $media == plus {
            
                $unit: calc(#{percentage(1/16)} + (#{get-gap($media)} / 15));
                padding: 0 $unit;
                
            } @else {
            
                $unit: calc(#{percentage(1/12)} + (#{get-gap($media)} / 11));
                padding: 0 $unit;

            }
            
        }
        
    }
    
}

.image {
    
    @each $media in $all-media {

        @include media($media) {
    
            &.left, &.right {
                width: calc(50% - (#{get-gap($media)} / 2));
            }

            &.left {
                float: left;
                margin: 0 get-gap($media) get-gap($media) 0;
            }

            &.right {
                float: right;
                margin: 0 0 get-gap($media) get-gap($media);
            }
            
        }
        
    }
    
}

@mixin skew-gaps($perc) {

    @each $media in $all-media {

        @include media($media) {
            grid-template-columns: calc(#{$perc}% - #{(get-gap($media) / 100) * (100 - $perc)}) auto;
        }
        
    }
    
}


.drift .grid-test, .grid-test {

    position: relative;
    display: grid;
    // grid-template-columns: calc((100% / 3) * 2) calc(100% / 3);
    // grid-template-columns: calc((((100% - #{$xgap-lg}) / 3) * 2) + (#{$xgap-lg} / 3)) calc(((100% - #{$xgap-lg}) / 3) - (#{$xgap-lg} / 3));
    // grid-template-columns: 9fr 9fr;
    $perc: (100 / 18) * 11;
    content: '#{$perc}';
    // grid-template-columns: calc(#{$perc}% - #{($xgap-lg / 100) * (100 - $perc)}) auto;
    @include skew-gaps($perc);
    grid-column: 1 / -1;
    @include gaps();
    margin: 0 auto;
    width: 100%;
    max-width: $large;
    
    > div {
        grid-column: auto;
        background-color: $color-dev-bkgd;
    }

}

.main {
    
    // > div
    
}
    