.drift {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin: 0 auto;
  width: 100%;
  max-width: 1366px; }

.drift [class*=span-] {
  display: grid;
  position: relative; }

.drift *:not([class*=span-]) {
  grid-column: 1 / -1; }

img {
  width: 100%; }

.drift .cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .drift .cols-2 > div:nth-of-type(2n+1), .drift .cols-2.flipped > div:nth-of-type(2n+2) {
    grid-column: 1;
    order: 1; }
  .drift .cols-2 > div:nth-of-type(2n+2), .drift .cols-2.flipped > div:nth-of-type(2n+1) {
    grid-column: 2;
    order: 2; }

.drift .cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .drift .cols-3 > div:nth-of-type(3n+1), .drift .cols-3.flipped > div:nth-of-type(3n+3) {
    grid-column: 1;
    order: 1; }
  .drift .cols-3 > div:nth-of-type(3n+2), .drift .cols-3.flipped > div:nth-of-type(3n+2) {
    grid-column: 2;
    order: 2; }
  .drift .cols-3 > div:nth-of-type(3n+3), .drift .cols-3.flipped > div:nth-of-type(3n+1) {
    grid-column: 3;
    order: 3; }

.drift, .drift [class*=span-], .drift [class*=cols-] {
  grid-column-gap: 52px;
  grid-row-gap: 52px; }

.drift .span-18 {
  grid-column: 1/-1; }

.drift .span-18.skew-l-4 {
  grid-template-columns: calc(72.22222% - 14.44444px) auto; }

.drift .span-18.skew-l-3 {
  grid-template-columns: calc(66.66667% - 17.33333px) auto; }

.drift .span-18.skew-l-2 {
  grid-template-columns: calc(61.11111% - 20.22222px) auto; }

.drift .span-18.skew-l-1 {
  grid-template-columns: calc(55.55556% - 23.11111px) auto; }

.drift .span-18.skew-r-4 {
  grid-template-columns: calc(72.22222% - 14.44444px) auto; }

.drift .span-18.skew-r-3 {
  grid-template-columns: calc(66.66667% - 17.33333px) auto; }

.drift .span-18.skew-r-2 {
  grid-template-columns: calc(61.11111% - 20.22222px) auto; }

.drift .span-18.skew-r-1 {
  grid-template-columns: calc(55.55556% - 23.11111px) auto; }

.drift .span-16 {
  grid-column: 2/-2; }

.drift .span-16.skew-l-4 {
  grid-template-columns: calc(75% - 13px) auto; }

.drift .span-16.skew-l-3 {
  grid-template-columns: calc(68.75% - 16.25px) auto; }

.drift .span-16.skew-l-2 {
  grid-template-columns: calc(62.5% - 19.5px) auto; }

.drift .span-16.skew-l-1 {
  grid-template-columns: calc(56.25% - 22.75px) auto; }

.drift .span-16.skew-r-4 {
  grid-template-columns: calc(75% - 13px) auto; }

.drift .span-16.skew-r-3 {
  grid-template-columns: calc(68.75% - 16.25px) auto; }

.drift .span-16.skew-r-2 {
  grid-template-columns: calc(62.5% - 19.5px) auto; }

.drift .span-16.skew-r-1 {
  grid-template-columns: calc(56.25% - 22.75px) auto; }

.drift .span-14 {
  grid-column: 3/-3; }

.drift .span-14.skew-l-4, .drift .span-14.skew-l-3 {
  grid-template-columns: calc(71.42857% - 14.85714px) auto; }

.drift .span-14.skew-l-2 {
  grid-template-columns: calc(64.28571% - 18.57143px) auto; }

.drift .span-14.skew-l-1 {
  grid-template-columns: calc(57.14286% - 22.28571px) auto; }

.drift .span-14.skew-r-4, .drift .span-14.skew-r-3 {
  grid-template-columns: calc(71.42857% - 14.85714px) auto; }

.drift .span-14.skew-r-2 {
  grid-template-columns: calc(64.28571% - 18.57143px) auto; }

.drift .span-14.skew-r-1 {
  grid-template-columns: calc(57.14286% - 22.28571px) auto; }

.drift .span-12 {
  grid-column: 4/-4; }

.drift .span-12.skew-l-4, .drift .span-12.skew-l-3 {
  grid-template-columns: calc(75% - 13px) auto; }

.drift .span-12.skew-l-2 {
  grid-template-columns: calc(66.66667% - 17.33333px) auto; }

.drift .span-12.skew-l-1 {
  grid-template-columns: calc(58.33333% - 21.66667px) auto; }

.drift .span-12.skew-r-4, .drift .span-12.skew-r-3 {
  grid-template-columns: calc(75% - 13px) auto; }

.drift .span-12.skew-r-2 {
  grid-template-columns: calc(66.66667% - 17.33333px) auto; }

.drift .span-12.skew-r-1 {
  grid-template-columns: calc(58.33333% - 21.66667px) auto; }

.drift .span-10 {
  grid-column: 5/-5; }

.drift .span-10.skew-l-4, .drift .span-10.skew-l-3, .drift .span-10.skew-l-2 {
  grid-template-columns: calc(70% - 15.6px) auto; }

.drift .span-10.skew-l-1 {
  grid-template-columns: calc(60% - 20.8px) auto; }

.drift .span-10.skew-r-4, .drift .span-10.skew-r-3, .drift .span-10.skew-r-2 {
  grid-template-columns: calc(70% - 15.6px) auto; }

.drift .span-10.skew-r-1 {
  grid-template-columns: calc(60% - 20.8px) auto; }

.drift .span-8 {
  grid-column: 6/-6; }

.drift .span-8.skew-l-4, .drift .span-8.skew-l-3, .drift .span-8.skew-l-2 {
  grid-template-columns: calc(75% - 13px) auto; }

.drift .span-8.skew-l-1 {
  grid-template-columns: calc(62.5% - 19.5px) auto; }

.drift .span-8.skew-r-4, .drift .span-8.skew-r-3, .drift .span-8.skew-r-2 {
  grid-template-columns: calc(75% - 13px) auto; }

.drift .span-8.skew-r-1 {
  grid-template-columns: calc(62.5% - 19.5px) auto; }

.drift .span-6 {
  grid-column: 7/-7; }

.drift .span-6.skew-l-4, .drift .span-6.skew-l-3, .drift .span-6.skew-l-2, .drift .span-6.skew-l-1 {
  grid-template-columns: calc(66.66667% - 17.33333px) auto; }

.drift .span-6.skew-r-4, .drift .span-6.skew-r-3, .drift .span-6.skew-r-2, .drift .span-6.skew-r-1 {
  grid-template-columns: calc(66.66667% - 17.33333px) auto; }

.drift .span-4 {
  grid-column: 8/-8; }

@media (min-width: 1025px) and (max-width: 1366px) {
  .drift, .drift [class*=span-], .drift [class*=cols-] {
    grid-column-gap: 44px;
    grid-row-gap: 40px; }
  .drift .span-18 {
    grid-column: 1/-1; }
  .drift .span-18.skew-l-4 {
    grid-template-columns: calc(72.22222% - 12.22222px) auto; }
  .drift .span-18.skew-l-3 {
    grid-template-columns: calc(66.66667% - 14.66667px) auto; }
  .drift .span-18.skew-l-2 {
    grid-template-columns: calc(61.11111% - 17.11111px) auto; }
  .drift .span-18.skew-l-1 {
    grid-template-columns: calc(55.55556% - 19.55556px) auto; }
  .drift .span-18.skew-r-4 {
    grid-template-columns: calc(72.22222% - 12.22222px) auto; }
  .drift .span-18.skew-r-3 {
    grid-template-columns: calc(66.66667% - 14.66667px) auto; }
  .drift .span-18.skew-r-2 {
    grid-template-columns: calc(61.11111% - 17.11111px) auto; }
  .drift .span-18.skew-r-1 {
    grid-template-columns: calc(55.55556% - 19.55556px) auto; }
  .drift .span-16 {
    grid-column: 2/-2; }
  .drift .span-16.skew-l-4 {
    grid-template-columns: calc(75% - 11px) auto; }
  .drift .span-16.skew-l-3 {
    grid-template-columns: calc(68.75% - 13.75px) auto; }
  .drift .span-16.skew-l-2 {
    grid-template-columns: calc(62.5% - 16.5px) auto; }
  .drift .span-16.skew-l-1 {
    grid-template-columns: calc(56.25% - 19.25px) auto; }
  .drift .span-16.skew-r-4 {
    grid-template-columns: calc(75% - 11px) auto; }
  .drift .span-16.skew-r-3 {
    grid-template-columns: calc(68.75% - 13.75px) auto; }
  .drift .span-16.skew-r-2 {
    grid-template-columns: calc(62.5% - 16.5px) auto; }
  .drift .span-16.skew-r-1 {
    grid-template-columns: calc(56.25% - 19.25px) auto; }
  .drift .span-14 {
    grid-column: 3/-3; }
  .drift .span-14.skew-l-4, .drift .span-14.skew-l-3 {
    grid-template-columns: calc(71.42857% - 12.57143px) auto; }
  .drift .span-14.skew-l-2 {
    grid-template-columns: calc(64.28571% - 15.71429px) auto; }
  .drift .span-14.skew-l-1 {
    grid-template-columns: calc(57.14286% - 18.85714px) auto; }
  .drift .span-14.skew-r-4, .drift .span-14.skew-r-3 {
    grid-template-columns: calc(71.42857% - 12.57143px) auto; }
  .drift .span-14.skew-r-2 {
    grid-template-columns: calc(64.28571% - 15.71429px) auto; }
  .drift .span-14.skew-r-1 {
    grid-template-columns: calc(57.14286% - 18.85714px) auto; }
  .drift .span-12 {
    grid-column: 4/-4; }
  .drift .span-12.skew-l-4, .drift .span-12.skew-l-3 {
    grid-template-columns: calc(75% - 11px) auto; }
  .drift .span-12.skew-l-2 {
    grid-template-columns: calc(66.66667% - 14.66667px) auto; }
  .drift .span-12.skew-l-1 {
    grid-template-columns: calc(58.33333% - 18.33333px) auto; }
  .drift .span-12.skew-r-4, .drift .span-12.skew-r-3 {
    grid-template-columns: calc(75% - 11px) auto; }
  .drift .span-12.skew-r-2 {
    grid-template-columns: calc(66.66667% - 14.66667px) auto; }
  .drift .span-12.skew-r-1 {
    grid-template-columns: calc(58.33333% - 18.33333px) auto; }
  .drift .span-10 {
    grid-column: 5/-5; }
  .drift .span-10.skew-l-4, .drift .span-10.skew-l-3, .drift .span-10.skew-l-2 {
    grid-template-columns: calc(70% - 13.2px) auto; }
  .drift .span-10.skew-l-1 {
    grid-template-columns: calc(60% - 17.6px) auto; }
  .drift .span-10.skew-r-4, .drift .span-10.skew-r-3, .drift .span-10.skew-r-2 {
    grid-template-columns: calc(70% - 13.2px) auto; }
  .drift .span-10.skew-r-1 {
    grid-template-columns: calc(60% - 17.6px) auto; }
  .drift .span-8 {
    grid-column: 6/-6; }
  .drift .span-8.skew-l-4, .drift .span-8.skew-l-3, .drift .span-8.skew-l-2 {
    grid-template-columns: calc(75% - 11px) auto; }
  .drift .span-8.skew-l-1 {
    grid-template-columns: calc(62.5% - 16.5px) auto; }
  .drift .span-8.skew-r-4, .drift .span-8.skew-r-3, .drift .span-8.skew-r-2 {
    grid-template-columns: calc(75% - 11px) auto; }
  .drift .span-8.skew-r-1 {
    grid-template-columns: calc(62.5% - 16.5px) auto; }
  .drift .span-6 {
    grid-column: 7/-7; }
  .drift .span-6.skew-l-4, .drift .span-6.skew-l-3, .drift .span-6.skew-l-2, .drift .span-6.skew-l-1 {
    grid-template-columns: calc(66.66667% - 14.66667px) auto; }
  .drift .span-6.skew-r-4, .drift .span-6.skew-r-3, .drift .span-6.skew-r-2, .drift .span-6.skew-r-1 {
    grid-template-columns: calc(66.66667% - 14.66667px) auto; }
  .drift .span-4 {
    grid-column: 8/-8; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .drift .cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .drift .cols-2 > div:nth-of-type(2n+1), .drift .cols-2.flipped > div:nth-of-type(2n+2) {
      grid-column: 1;
      order: 1; }
    .drift .cols-2 > div:nth-of-type(2n+2), .drift .cols-2.flipped > div:nth-of-type(2n+1) {
      grid-column: 2;
      order: 2; }
  .drift .cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .drift .cols-3 > div:nth-of-type(3n+1), .drift .cols-3.flipped > div:nth-of-type(3n+3) {
      grid-column: 1;
      order: 1; }
    .drift .cols-3 > div:nth-of-type(3n+2), .drift .cols-3.flipped > div:nth-of-type(3n+2) {
      grid-column: 2;
      order: 2; }
    .drift .cols-3 > div:nth-of-type(3n+3), .drift .cols-3.flipped > div:nth-of-type(3n+1) {
      grid-column: 3;
      order: 3; }
  .drift, .drift [class*=span-], .drift [class*=cols-] {
    grid-column-gap: 32px;
    grid-row-gap: 28px; }
  .drift .span-16, .drift .span-14 {
    grid-column: 2/-2; }
  .drift .span-16.skew-l-4, .drift .span-14.skew-l-4 {
    grid-template-columns: calc(75% - 8px) auto; }
  .drift .span-16.skew-l-3, .drift .span-14.skew-l-3 {
    grid-template-columns: calc(68.75% - 10px) auto; }
  .drift .span-16.skew-l-2, .drift .span-14.skew-l-2 {
    grid-template-columns: calc(62.5% - 12px) auto; }
  .drift .span-16.skew-l-1, .drift .span-14.skew-l-1 {
    grid-template-columns: calc(56.25% - 14px) auto; }
  .drift .span-16.skew-r-4, .drift .span-14.skew-r-4 {
    grid-template-columns: calc(75% - 8px) auto; }
  .drift .span-16.skew-r-3, .drift .span-14.skew-r-3 {
    grid-template-columns: calc(68.75% - 10px) auto; }
  .drift .span-16.skew-r-2, .drift .span-14.skew-r-2 {
    grid-template-columns: calc(62.5% - 12px) auto; }
  .drift .span-16.skew-r-1, .drift .span-14.skew-r-1 {
    grid-template-columns: calc(56.25% - 14px) auto; }
  .drift .span-12, .drift .span-10 {
    grid-column: 3/-3; }
  .drift .span-12.skew-l-4, .drift .span-10.skew-l-4, .drift .span-12.skew-l-3, .drift .span-10.skew-l-3 {
    grid-template-columns: calc(71.42857% - 9.14286px) auto; }
  .drift .span-12.skew-l-2, .drift .span-10.skew-l-2 {
    grid-template-columns: calc(64.28571% - 11.42857px) auto; }
  .drift .span-12.skew-l-1, .drift .span-10.skew-l-1 {
    grid-template-columns: calc(57.14286% - 13.71429px) auto; }
  .drift .span-12.skew-r-4, .drift .span-10.skew-r-4, .drift .span-12.skew-r-3, .drift .span-10.skew-r-3 {
    grid-template-columns: calc(71.42857% - 9.14286px) auto; }
  .drift .span-12.skew-r-2, .drift .span-10.skew-r-2 {
    grid-template-columns: calc(64.28571% - 11.42857px) auto; }
  .drift .span-12.skew-r-1, .drift .span-10.skew-r-1 {
    grid-template-columns: calc(57.14286% - 13.71429px) auto; }
  .drift .span-8, .drift .span-6 {
    grid-column: 4/-4; }
  .drift .span-8.skew-l-4, .drift .span-6.skew-l-4, .drift .span-8.skew-l-3, .drift .span-6.skew-l-3 {
    grid-template-columns: calc(75% - 8px) auto; }
  .drift .span-8.skew-l-2, .drift .span-6.skew-l-2 {
    grid-template-columns: calc(66.66667% - 10.66667px) auto; }
  .drift .span-8.skew-l-1, .drift .span-6.skew-l-1 {
    grid-template-columns: calc(58.33333% - 13.33333px) auto; }
  .drift .span-8.skew-r-4, .drift .span-6.skew-r-4, .drift .span-8.skew-r-3, .drift .span-6.skew-r-3 {
    grid-template-columns: calc(75% - 8px) auto; }
  .drift .span-8.skew-r-2, .drift .span-6.skew-r-2 {
    grid-template-columns: calc(66.66667% - 10.66667px) auto; }
  .drift .span-8.skew-r-1, .drift .span-6.skew-r-1 {
    grid-template-columns: calc(58.33333% - 13.33333px) auto; }
  .drift .span-4 {
    grid-column: 5/-5; } }

@media (min-width: 414px) and (max-width: 767px) {
  .drift .cols-2 {
    grid-template-columns: 1fr; }
    .drift .cols-2 > div:nth-of-type(n) {
      grid-column: 1 / -1; }
  .drift .cols-3 {
    grid-template-columns: 1fr; }
    .drift .cols-3 > div:nth-of-type(n) {
      grid-column: 1 / -1; }
  .drift, .drift [class*=span-], .drift [class*=cols-] {
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .drift .span-16, .drift .span-14 {
    grid-column: 2/-2; }
  .drift .span-16.skew-l-4, .drift .span-14.skew-l-4 {
    grid-template-columns: calc(75% - 5px) auto; }
  .drift .span-16.skew-l-3, .drift .span-14.skew-l-3 {
    grid-template-columns: calc(68.75% - 6.25px) auto; }
  .drift .span-16.skew-l-2, .drift .span-14.skew-l-2 {
    grid-template-columns: calc(62.5% - 7.5px) auto; }
  .drift .span-16.skew-l-1, .drift .span-14.skew-l-1 {
    grid-template-columns: calc(56.25% - 8.75px) auto; }
  .drift .span-16.skew-r-4, .drift .span-14.skew-r-4 {
    grid-template-columns: calc(75% - 5px) auto; }
  .drift .span-16.skew-r-3, .drift .span-14.skew-r-3 {
    grid-template-columns: calc(68.75% - 6.25px) auto; }
  .drift .span-16.skew-r-2, .drift .span-14.skew-r-2 {
    grid-template-columns: calc(62.5% - 7.5px) auto; }
  .drift .span-16.skew-r-1, .drift .span-14.skew-r-1 {
    grid-template-columns: calc(56.25% - 8.75px) auto; }
  .drift .span-12, .drift .span-10 {
    grid-column: 3/-3; }
  .drift .span-12.skew-l-4, .drift .span-10.skew-l-4, .drift .span-12.skew-l-3, .drift .span-10.skew-l-3 {
    grid-template-columns: calc(71.42857% - 5.71429px) auto; }
  .drift .span-12.skew-l-2, .drift .span-10.skew-l-2 {
    grid-template-columns: calc(64.28571% - 7.14286px) auto; }
  .drift .span-12.skew-l-1, .drift .span-10.skew-l-1 {
    grid-template-columns: calc(57.14286% - 8.57143px) auto; }
  .drift .span-12.skew-r-4, .drift .span-10.skew-r-4, .drift .span-12.skew-r-3, .drift .span-10.skew-r-3 {
    grid-template-columns: calc(71.42857% - 5.71429px) auto; }
  .drift .span-12.skew-r-2, .drift .span-10.skew-r-2 {
    grid-template-columns: calc(64.28571% - 7.14286px) auto; }
  .drift .span-12.skew-r-1, .drift .span-10.skew-r-1 {
    grid-template-columns: calc(57.14286% - 8.57143px) auto; }
  .drift .span-8, .drift .span-6 {
    grid-column: 4/-4; }
  .drift .span-8.skew-l-4, .drift .span-6.skew-l-4, .drift .span-8.skew-l-3, .drift .span-6.skew-l-3 {
    grid-template-columns: calc(75% - 5px) auto; }
  .drift .span-8.skew-l-2, .drift .span-6.skew-l-2 {
    grid-template-columns: calc(66.66667% - 6.66667px) auto; }
  .drift .span-8.skew-l-1, .drift .span-6.skew-l-1 {
    grid-template-columns: calc(58.33333% - 8.33333px) auto; }
  .drift .span-8.skew-r-4, .drift .span-6.skew-r-4, .drift .span-8.skew-r-3, .drift .span-6.skew-r-3 {
    grid-template-columns: calc(75% - 5px) auto; }
  .drift .span-8.skew-r-2, .drift .span-6.skew-r-2 {
    grid-template-columns: calc(66.66667% - 6.66667px) auto; }
  .drift .span-8.skew-r-1, .drift .span-6.skew-r-1 {
    grid-template-columns: calc(58.33333% - 8.33333px) auto; }
  .drift .span-4 {
    grid-column: 5/-5; } }

@media (max-width: 413px) {
  .drift .cols-2 {
    grid-template-columns: 1fr; }
    .drift .cols-2 > div:nth-of-type(n) {
      grid-column: 1 / -1; }
  .drift .cols-3 {
    grid-template-columns: 1fr; }
    .drift .cols-3 > div:nth-of-type(n) {
      grid-column: 1 / -1; }
  .drift, .drift [class*=span-], .drift [class*=cols-] {
    grid-column-gap: 16px;
    grid-row-gap: 12px; }
  .drift .span-16, .drift .span-14 {
    grid-column: 2/-2; }
  .drift .span-16.skew-l-4, .drift .span-14.skew-l-4 {
    grid-template-columns: calc(75% - 4px) auto; }
  .drift .span-16.skew-l-3, .drift .span-14.skew-l-3 {
    grid-template-columns: calc(68.75% - 5px) auto; }
  .drift .span-16.skew-l-2, .drift .span-14.skew-l-2 {
    grid-template-columns: calc(62.5% - 6px) auto; }
  .drift .span-16.skew-l-1, .drift .span-14.skew-l-1 {
    grid-template-columns: calc(56.25% - 7px) auto; }
  .drift .span-16.skew-r-4, .drift .span-14.skew-r-4 {
    grid-template-columns: calc(75% - 4px) auto; }
  .drift .span-16.skew-r-3, .drift .span-14.skew-r-3 {
    grid-template-columns: calc(68.75% - 5px) auto; }
  .drift .span-16.skew-r-2, .drift .span-14.skew-r-2 {
    grid-template-columns: calc(62.5% - 6px) auto; }
  .drift .span-16.skew-r-1, .drift .span-14.skew-r-1 {
    grid-template-columns: calc(56.25% - 7px) auto; }
  .drift .span-12, .drift .span-10 {
    grid-column: 3/-3; }
  .drift .span-12.skew-l-4, .drift .span-10.skew-l-4, .drift .span-12.skew-l-3, .drift .span-10.skew-l-3 {
    grid-template-columns: calc(71.42857% - 4.57143px) auto; }
  .drift .span-12.skew-l-2, .drift .span-10.skew-l-2 {
    grid-template-columns: calc(64.28571% - 5.71429px) auto; }
  .drift .span-12.skew-l-1, .drift .span-10.skew-l-1 {
    grid-template-columns: calc(57.14286% - 6.85714px) auto; }
  .drift .span-12.skew-r-4, .drift .span-10.skew-r-4, .drift .span-12.skew-r-3, .drift .span-10.skew-r-3 {
    grid-template-columns: calc(71.42857% - 4.57143px) auto; }
  .drift .span-12.skew-r-2, .drift .span-10.skew-r-2 {
    grid-template-columns: calc(64.28571% - 5.71429px) auto; }
  .drift .span-12.skew-r-1, .drift .span-10.skew-r-1 {
    grid-template-columns: calc(57.14286% - 6.85714px) auto; }
  .drift .span-8, .drift .span-6 {
    grid-column: 4/-4; }
  .drift .span-8.skew-l-4, .drift .span-6.skew-l-4, .drift .span-8.skew-l-3, .drift .span-6.skew-l-3 {
    grid-template-columns: calc(75% - 4px) auto; }
  .drift .span-8.skew-l-2, .drift .span-6.skew-l-2 {
    grid-template-columns: calc(66.66667% - 5.33333px) auto; }
  .drift .span-8.skew-l-1, .drift .span-6.skew-l-1 {
    grid-template-columns: calc(58.33333% - 6.66667px) auto; }
  .drift .span-8.skew-r-4, .drift .span-6.skew-r-4, .drift .span-8.skew-r-3, .drift .span-6.skew-r-3 {
    grid-template-columns: calc(75% - 4px) auto; }
  .drift .span-8.skew-r-2, .drift .span-6.skew-r-2 {
    grid-template-columns: calc(66.66667% - 5.33333px) auto; }
  .drift .span-8.skew-r-1, .drift .span-6.skew-r-1 {
    grid-template-columns: calc(58.33333% - 6.66667px) auto; }
  .drift .span-4 {
    grid-column: 5/-5; } }

#dev-grid {
  display: none;
  width: 100%; }
  #dev-grid [class*=span-] {
    grid-template-columns: repeat(18, 1fr); }
    #dev-grid [class*=span-] > div:nth-of-type(1) {
      grid-column: 1; }
    #dev-grid [class*=span-] > div:nth-of-type(2) {
      grid-column: 2; }
    #dev-grid [class*=span-] > div:nth-of-type(3) {
      grid-column: 3; }
    #dev-grid [class*=span-] > div:nth-of-type(4) {
      grid-column: 4; }
    #dev-grid [class*=span-] > div:nth-of-type(5) {
      grid-column: 5; }
    #dev-grid [class*=span-] > div:nth-of-type(6) {
      grid-column: 6; }
    #dev-grid [class*=span-] > div:nth-of-type(7) {
      grid-column: 7; }
    #dev-grid [class*=span-] > div:nth-of-type(8) {
      grid-column: 8; }
    #dev-grid [class*=span-] > div:nth-of-type(9) {
      grid-column: 9; }
    #dev-grid [class*=span-] > div:nth-of-type(10) {
      grid-column: 10; }
    #dev-grid [class*=span-] > div:nth-of-type(11) {
      grid-column: 11; }
    #dev-grid [class*=span-] > div:nth-of-type(12) {
      grid-column: 12; }
    #dev-grid [class*=span-] > div:nth-of-type(13) {
      grid-column: 13; }
    #dev-grid [class*=span-] > div:nth-of-type(14) {
      grid-column: 14; }
    #dev-grid [class*=span-] > div:nth-of-type(15) {
      grid-column: 15; }
    #dev-grid [class*=span-] > div:nth-of-type(16) {
      grid-column: 16; }
    #dev-grid [class*=span-] > div:nth-of-type(17) {
      grid-column: 17; }
    #dev-grid [class*=span-] > div:nth-of-type(18) {
      grid-column: 18; }
  #dev-grid [class*=span-] > div {
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.1); }
  #dev-grid [class*=span-] > div:nth-of-type(n+10) {
    text-align: right; }

html {
  font-size: 62.5%; }
  @media (min-width: 1025px) and (max-width: 1366px) {
    html.splash-mode {
      font-size: 68.75%; } }
  @media (max-width: 413px) {
    html {
      font-size: 56.25%; } }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased; }
  body strong {
    font-weight: 600; }

h1 {
  margin: 0 0 1.4rem 0;
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 5.2rem; }

p + h1 {
  margin-top: 2.0rem; }

h2 {
  margin: 0 0 1.2rem 0;
  font-size: 3.4rem;
  font-weight: 300;
  line-height: 4.4rem; }
  @media (max-width: 413px) {
    h2 {
      font-size: 3.4rem;
      line-height: 4rem; } }

p + h2 {
  margin-top: 2.0rem; }

h3 {
  margin: 0 0 1.2rem 0;
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 4.0rem; }

p + h3 {
  margin-top: 1.8rem; }

h4 {
  margin: 0 0 1.2rem 0;
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 3.6rem; }

p.large, blockquote {
  margin: 0 0 1.6rem 0;
  font-size: 1.8rem;
  line-height: 3.0rem; }

p, li {
  margin: 0 0 1.6rem 0;
  padding: 0;
  font-size: 1.7rem;
  line-height: 2.8rem; }

p.small, span.small {
  margin: 0 0 1.6rem 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.4rem; }

p.tiny, span.tiny {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  line-height: 2.0rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.2rem; }

h5, h6 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  line-height: 2.0rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  letter-spacing: 0.02em; }

ul {
  margin-bottom: 1.8rem;
  padding-left: 1.2em; }

li {
  margin-bottom: 0.4rem;
  padding-left: 0.3em;
  text-align: left !important; }

ul li {
  list-style-type: disc; }

ol li {
  list-style: decimal; }

blockquote {
  padding-left: 0; }

.small-text p, .small-text li {
  margin: 0 0 1.6rem 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: 0.01em; }

body {
  margin: 0; }

.main {
  padding: 0 calc(10% + (52px / 9));
  padding: 0 calc(10% + (52px / 9)); }
  @media (min-width: 768px) and (max-width: 1024px) {
    .main {
      padding: 0 calc(9.09091% + (32px / 10)); } }
  @media (min-width: 414px) and (max-width: 767px) {
    .main {
      padding: 0; } }
  @media (max-width: 413px) {
    .main {
      padding: 0; } }

@media (min-width: 1367px) {
  .image.left, .image.right {
    width: calc(50% - (get-gap(large) / 2)); }
  .image.left {
    float: left;
    margin: 0 get-gap(large) get-gap(large) 0; }
  .image.right {
    float: right;
    margin: 0 0 get-gap(large) get-gap(large); } }

@media (min-width: 1025px) and (max-width: 1366px) {
  .image.left, .image.right {
    width: calc(50% - (get-gap(standard) / 2)); }
  .image.left {
    float: left;
    margin: 0 get-gap(standard) get-gap(standard) 0; }
  .image.right {
    float: right;
    margin: 0 0 get-gap(standard) get-gap(standard); } }

@media (min-width: 768px) and (max-width: 1024px) {
  .image.left, .image.right {
    width: calc(50% - (get-gap(tablet) / 2)); }
  .image.left {
    float: left;
    margin: 0 get-gap(tablet) get-gap(tablet) 0; }
  .image.right {
    float: right;
    margin: 0 0 get-gap(tablet) get-gap(tablet); } }

@media (min-width: 414px) and (max-width: 767px) {
  .image.left, .image.right {
    width: calc(50% - (get-gap(plus) / 2)); }
  .image.left {
    float: left;
    margin: 0 get-gap(plus) get-gap(plus) 0; }
  .image.right {
    float: right;
    margin: 0 0 get-gap(plus) get-gap(plus); } }

@media (max-width: 413px) {
  .image.left, .image.right {
    width: calc(50% - (get-gap(phone) / 2)); }
  .image.left {
    float: left;
    margin: 0 get-gap(phone) get-gap(phone) 0; }
  .image.right {
    float: right;
    margin: 0 0 get-gap(phone) get-gap(phone); } }
