.jam {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin: 0 auto;
  width: 100%;
  max-width: 1366px; }

.jam [class*=row-], .jam [class*=cols-] {
  display: grid;
  position: relative; }

body {
  margin: 0; }

img {
  width: 100%; }

/* Non grid element default positioning */
.jam *:not(div) {
  grid-column: 1 / -1; }

/* Equal colun widths */
@media (min-width: 768px) {
  .jam .cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .jam .cols-2 > div:nth-of-type(2n+1), .jam .cols-2.flip > div:nth-of-type(2n+2) {
      order: 1; }
    .jam .cols-2 > div:nth-of-type(2n+2), .jam .cols-2.flip > div:nth-of-type(2n+1) {
      order: 2; }
  .jam .cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .jam .cols-3 > div:nth-of-type(3n+1), .jam .cols-3.flip > div:nth-of-type(3n+3) {
      order: 1; }
    .jam .cols-3 > div:nth-of-type(3n+2), .jam .cols-3.flip > div:nth-of-type(3n+2) {
      order: 2; }
    .jam .cols-3 > div:nth-of-type(3n+3), .jam .cols-3.flip > div:nth-of-type(3n+1) {
      order: 3; }
  .jam .cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .jam .cols-4 > div:nth-of-type(4n+1), .jam .cols-4.flip > div:nth-of-type(4n+4) {
      order: 1; }
    .jam .cols-4 > div:nth-of-type(4n+2), .jam .cols-4.flip > div:nth-of-type(4n+3) {
      order: 2; }
    .jam .cols-4 > div:nth-of-type(4n+3), .jam .cols-4.flip > div:nth-of-type(4n+2) {
      order: 3; }
    .jam .cols-4 > div:nth-of-type(4n+4), .jam .cols-4.flip > div:nth-of-type(4n+1) {
      order: 4; } }

/* Row defaults */
.jam .row-18 {
  grid-template-columns: repeat(18, 1fr);
  grid-column: 1 / -1; }
  .jam .row-18.cols-2 > div {
    grid-column: span 9; }
  .jam .row-18.cols-3 > div {
    grid-column: span 6; }
  .jam .row-18.cols-4 > div {
    grid-column: span 4; }

.jam .row-16 {
  grid-template-columns: repeat(16, 1fr);
  grid-column: 2 / -2; }
  .jam .row-16.cols-2 > div {
    grid-column: span 8; }
  .jam .row-16.cols-3 > div {
    grid-column: span 5; }
  .jam .row-16.cols-4 > div {
    grid-column: span 4; }

.jam .row-14 {
  grid-template-columns: repeat(14, 1fr);
  grid-column: 3 / -3; }
  .jam .row-14.cols-2 > div {
    grid-column: span 7; }
  .jam .row-14.cols-3 > div {
    grid-column: span 4; }
  .jam .row-14.cols-4 > div {
    grid-column: span 3; }

.jam .row-12 {
  grid-template-columns: repeat(12, 1fr);
  grid-column: 4 / -4; }
  .jam .row-12.cols-2 > div {
    grid-column: span 6; }
  .jam .row-12.cols-3 > div {
    grid-column: span 4; }
  .jam .row-12.cols-4 > div {
    grid-column: span 3; }

.jam .row-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-column: 5 / -5; }
  .jam .row-10.cols-2 > div {
    grid-column: span 5; }
  .jam .row-10.cols-3 > div {
    grid-column: span 3; }
  .jam .row-10.cols-4 > div {
    grid-column: span 2; }

.jam .row-8 {
  grid-template-columns: repeat(8, 1fr);
  grid-column: 6 / -6; }
  .jam .row-8.cols-2 > div {
    grid-column: span 4; }
  .jam .row-8.cols-3 > div {
    grid-column: span 2; }
  .jam .row-8.cols-4 > div {
    grid-column: span 2; }

.jam .row-6 {
  grid-template-columns: repeat(6, 1fr);
  grid-column: 7 / -7; }
  .jam .row-6.cols-2 > div {
    grid-column: span 3; }
  .jam .row-6.cols-3 > div {
    grid-column: span 2; }
  .jam .row-6.cols-4 > div {
    grid-column: span 1; }

/* Gap defaults */
.jam, .jam [class*=row-], .jam [class*=cols-], .jam [class*=col-] {
  grid-column-gap: 48px;
  grid-row-gap: 44px; }

/* Variable column widths */
.jam div[class*=row-] div.col-3 {
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr); }

.jam div[class*=row-] div.col-4 {
  grid-column: span 4;
  grid-template-columns: repeat(4, 1fr); }

.jam div[class*=row-] div.col-5 {
  grid-column: span 5;
  grid-template-columns: repeat(5, 1fr); }

.jam div[class*=row-] div.col-6 {
  grid-column: span 6;
  grid-template-columns: repeat(6, 1fr); }

.jam div[class*=row-] div.col-7 {
  grid-column: span 7;
  grid-template-columns: repeat(7, 1fr); }

.jam div[class*=row-] div.col-8 {
  grid-column: span 8;
  grid-template-columns: repeat(8, 1fr); }

.jam div[class*=row-] div.col-9 {
  grid-column: span 9;
  grid-template-columns: repeat(9, 1fr); }

.jam div[class*=row-] div.col-10 {
  grid-column: span 10;
  grid-template-columns: repeat(10, 1fr); }

.jam div[class*=row-] div.col-11 {
  grid-column: span 11;
  grid-template-columns: repeat(11, 1fr); }

.jam div[class*=row-] div.col-12 {
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr); }

.jam div[class*=row-] div.col-13 {
  grid-column: span 13;
  grid-template-columns: repeat(13, 1fr); }

.jam div[class*=row-] div.col-14 {
  grid-column: span 14;
  grid-template-columns: repeat(14, 1fr); }

.jam div[class*=row-] div.col-15 {
  grid-column: span 15;
  grid-template-columns: repeat(15, 1fr); }

/* Column pads */
/* Media specific versions */
@media (min-width: 1025px) and (max-width: 1366px) {
  .jam, .jam [class*=row-], .jam [class*=cols-], .jam [class*=col-] {
    grid-column-gap: 44px;
    grid-row-gap: 40px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .jam, .jam [class*=row-], .jam [class*=cols-], .jam [class*=col-] {
    grid-column-gap: 32px;
    grid-row-gap: 36px; } }

@media (min-width: 411px) and (max-width: 767px) {
  .jam, .jam [class*=row-], .jam [class*=cols-], .jam [class*=col-] {
    grid-column-gap: 20px;
    grid-row-gap: 32px; } }

@media (max-width: 410px) {
  .jam, .jam [class*=row-], .jam [class*=cols-], .jam [class*=col-] {
    grid-column-gap: 16px;
    grid-row-gap: 28px; } }

@media (max-width: 1024px) {
  /* Collapsing row widths on handhelds */
  .jam .row-16 {
    grid-template-columns: repeat(16, 1fr);
    grid-column: 2 / -2; }
    .jam .row-16.cols-2 > div {
      grid-column: span 8; }
    .jam .row-16.cols-3 > div {
      grid-column: span 5; }
    .jam .row-16.cols-4 > div {
      grid-column: span 4; }
  .jam .row-14 {
    grid-template-columns: repeat(16, 1fr);
    grid-column: 2 / -2; }
    .jam .row-14.cols-2 > div {
      grid-column: span 8; }
    .jam .row-14.cols-2 > div.col-3 {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr); }
    .jam .row-14.cols-2 > div.col-4 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-14.cols-2 > div.col-5 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-14.cols-2 > div.col-6 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-14.cols-2 > div.col-7 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-14.cols-2 > div.col-8 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-14.cols-2 > div.col-9 {
      grid-column: span 10;
      grid-template-columns: repeat(10, 1fr); }
    .jam .row-14.cols-2 > div.col-10 {
      grid-column: span 11;
      grid-template-columns: repeat(11, 1fr); }
    .jam .row-14.cols-2 > div.col-11 {
      grid-column: span 12;
      grid-template-columns: repeat(12, 1fr); }
    .jam .row-14.cols-3 > div {
      grid-column: span 5; }
    .jam .row-14.cols-3 > div.col-3 {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr); }
    .jam .row-14.cols-3 > div.col-4 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-14.cols-3 > div.col-5 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-14.cols-3 > div.col-6 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-14.cols-3 > div.col-7 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-14.cols-3 > div.col-8 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-14.cols-3 > div.col-9 {
      grid-column: span 10;
      grid-template-columns: repeat(10, 1fr); }
    .jam .row-14.cols-3 > div.col-10 {
      grid-column: span 11;
      grid-template-columns: repeat(11, 1fr); }
    .jam .row-14.cols-3 > div.col-11 {
      grid-column: span 12;
      grid-template-columns: repeat(12, 1fr); }
    .jam .row-14.cols-4 > div {
      grid-column: span 4; }
    .jam .row-14.cols-4 > div.col-3 {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr); }
    .jam .row-14.cols-4 > div.col-4 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-14.cols-4 > div.col-5 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-14.cols-4 > div.col-6 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-14.cols-4 > div.col-7 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-14.cols-4 > div.col-8 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-14.cols-4 > div.col-9 {
      grid-column: span 10;
      grid-template-columns: repeat(10, 1fr); }
    .jam .row-14.cols-4 > div.col-10 {
      grid-column: span 11;
      grid-template-columns: repeat(11, 1fr); }
    .jam .row-14.cols-4 > div.col-11 {
      grid-column: span 12;
      grid-template-columns: repeat(12, 1fr); }
  .jam .row-12 {
    grid-template-columns: repeat(14, 1fr);
    grid-column: 3 / -3; }
    .jam .row-12.cols-2 > div {
      grid-column: span 7; }
    .jam .row-12.cols-2 > div.col-3 {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr); }
    .jam .row-12.cols-2 > div.col-4 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-12.cols-2 > div.col-5 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-12.cols-2 > div.col-6 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-12.cols-2 > div.col-7 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-12.cols-2 > div.col-8 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-12.cols-2 > div.col-9 {
      grid-column: span 10;
      grid-template-columns: repeat(10, 1fr); }
    .jam .row-12.cols-3 > div {
      grid-column: span 4; }
    .jam .row-12.cols-3 > div.col-3 {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr); }
    .jam .row-12.cols-3 > div.col-4 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-12.cols-3 > div.col-5 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-12.cols-3 > div.col-6 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-12.cols-3 > div.col-7 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-12.cols-3 > div.col-8 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-12.cols-3 > div.col-9 {
      grid-column: span 10;
      grid-template-columns: repeat(10, 1fr); }
    .jam .row-12.cols-4 > div {
      grid-column: span 3; }
    .jam .row-12.cols-4 > div.col-3 {
      grid-column: span 4;
      grid-template-columns: repeat(4, 1fr); }
    .jam .row-12.cols-4 > div.col-4 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-12.cols-4 > div.col-5 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-12.cols-4 > div.col-6 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-12.cols-4 > div.col-7 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-12.cols-4 > div.col-8 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-12.cols-4 > div.col-9 {
      grid-column: span 10;
      grid-template-columns: repeat(10, 1fr); }
  .jam .row-10 {
    grid-template-columns: repeat(14, 1fr);
    grid-column: 3 / -3; }
    .jam .row-10.cols-2 > div {
      grid-column: span 7; }
    .jam .row-10.cols-2 > div.col-3 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-10.cols-2 > div.col-4 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-10.cols-2 > div.col-5 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-10.cols-2 > div.col-6 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-10.cols-2 > div.col-7 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-10.cols-3 > div {
      grid-column: span 4; }
    .jam .row-10.cols-3 > div.col-3 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-10.cols-3 > div.col-4 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-10.cols-3 > div.col-5 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-10.cols-3 > div.col-6 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-10.cols-3 > div.col-7 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
    .jam .row-10.cols-4 > div {
      grid-column: span 3; }
    .jam .row-10.cols-4 > div.col-3 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-10.cols-4 > div.col-4 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-10.cols-4 > div.col-5 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-10.cols-4 > div.col-6 {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr); }
    .jam .row-10.cols-4 > div.col-7 {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr); }
  .jam .row-8 {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 4 / -4; }
    .jam .row-8.cols-2 > div {
      grid-column: span 6; }
    .jam .row-8.cols-2 > div.col-3 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-8.cols-2 > div.col-4 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-8.cols-2 > div.col-5 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-8.cols-3 > div {
      grid-column: span 4; }
    .jam .row-8.cols-3 > div.col-3 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-8.cols-3 > div.col-4 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-8.cols-3 > div.col-5 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
    .jam .row-8.cols-4 > div {
      grid-column: span 3; }
    .jam .row-8.cols-4 > div.col-3 {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr); }
    .jam .row-8.cols-4 > div.col-4 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-8.cols-4 > div.col-5 {
      grid-column: span 7;
      grid-template-columns: repeat(7, 1fr); }
  .jam .row-6 {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 4 / -4; }
    .jam .row-6.cols-2 > div {
      grid-column: span 6; }
    .jam .row-6.cols-2 > div.col-3 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-6.cols-3 > div {
      grid-column: span 4; }
    .jam .row-6.cols-3 > div.col-3 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); }
    .jam .row-6.cols-4 > div {
      grid-column: span 3; }
    .jam .row-6.cols-4 > div.col-3 {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr); } }

@media (max-width: 767px) {
  /* Non grid element phone positioning */
  .jam *:not([class*=row-], [class*=col-]) {
    grid-column: 2 / -2; }
  /* Maximise phone row widths and transfer inset to columns */
  .jam .row-16, .jam .row-16[class*=cols-], .jam .row-14, .jam .row-14[class*=cols-] {
    grid-column: 1 / -1;
    grid-template-columns: repeat(18, 1fr); }
    .jam .row-16 > div:nth-child(n), .jam .row-16.flip div:nth-child(n), .jam .row-16[class*=cols-] > div:nth-child(n), .jam .row-16[class*=cols-].flip div:nth-child(n), .jam .row-14 > div:nth-child(n), .jam .row-14.flip div:nth-child(n), .jam .row-14[class*=cols-] > div:nth-child(n), .jam .row-14[class*=cols-].flip div:nth-child(n) {
      grid-template-columns: repeat(16, 1fr);
      grid-column: 2 / -2; }
  .jam .row-12, .jam .row-12[class*=cols-], .jam .row-10, .jam .row-10[class*=cols-] {
    grid-column: 1 / -1;
    grid-template-columns: repeat(18, 1fr); }
    .jam .row-12 > div:nth-child(n), .jam .row-12.flip div:nth-child(n), .jam .row-12[class*=cols-] > div:nth-child(n), .jam .row-12[class*=cols-].flip div:nth-child(n), .jam .row-10 > div:nth-child(n), .jam .row-10.flip div:nth-child(n), .jam .row-10[class*=cols-] > div:nth-child(n), .jam .row-10[class*=cols-].flip div:nth-child(n) {
      grid-template-columns: repeat(14, 1fr);
      grid-column: 3 / -3; }
  .jam .row-8, .jam .row-8[class*=cols-], .jam .row-6, .jam .row-6[class*=cols-] {
    grid-column: 1 / -1;
    grid-template-columns: repeat(18, 1fr); }
    .jam .row-8 > div:nth-child(n), .jam .row-8.flip div:nth-child(n), .jam .row-8[class*=cols-] > div:nth-child(n), .jam .row-8[class*=cols-].flip div:nth-child(n), .jam .row-6 > div:nth-child(n), .jam .row-6.flip div:nth-child(n), .jam .row-6[class*=cols-] > div:nth-child(n), .jam .row-6[class*=cols-].flip div:nth-child(n) {
      grid-template-columns: repeat(12, 1fr);
      grid-column: 4 / -4; }
  /* Phone image bleeds */
  .jam [class*=row-].bleed-ph > div:nth-of-type(2n+1), .jam [class*=row-].flip.bleed-ph > div:nth-of-type(2n+1) {
    grid-template-columns: repeat(18, 1fr);
    grid-column: 1 / -1; } }

html {
  font-size: 62.5%; }
  @media (min-width: 1025px) and (max-width: 1366px) {
    html.splash-mode {
      font-size: 68.75%; } }
  @media (max-width: 410px) {
    html {
      font-size: 56.25%; } }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased; }
  body strong {
    font-weight: 600; }

h1 {
  margin: 0 0 1.4rem 0;
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 5.2rem; }

p + h1 {
  margin-top: 2.0rem; }

h2 {
  margin: 0 0 1.2rem 0;
  font-size: 3.4rem;
  font-weight: 300;
  line-height: 4.4rem; }
  @media (max-width: 410px) {
    h2 {
      font-size: 3.4rem;
      line-height: 4rem; } }

p + h2 {
  margin-top: 2.0rem; }

h3 {
  margin: 0 0 1.2rem 0;
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 4.0rem; }

p + h3 {
  margin-top: 1.8rem; }

h4 {
  margin: 0 0 1.2rem 0;
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 3.6rem; }

p.large, blockquote {
  margin: 0 0 1.6rem 0;
  font-size: 1.8rem;
  line-height: 3.0rem; }

p, li {
  margin: 0 0 1.6rem 0;
  padding: 0;
  font-size: 1.7rem;
  line-height: 2.8rem; }

p.small, row.small {
  margin: 0 0 1.6rem 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.4rem; }

p.tiny, row.tiny {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  line-height: 2.0rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.2rem; }

h5, h6 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  line-height: 2.0rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  letter-spacing: 0.02em; }

ul {
  margin: 0 0 1.8rem 0;
  padding-left: 1.2em; }

li {
  margin-bottom: 0.2rem;
  padding-left: 0.3em;
  text-align: left !important; }

ul li {
  list-style-type: disc; }

ol li {
  list-style: decimal; }

blockquote {
  padding-left: 0; }

.small-text p, .small-text li {
  margin: 0 0 1.6rem 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: 0.01em; }

.jam .body-col {
  display: block !important; }
  @media (min-width: 1367px) {
    .jam .body-col {
      padding: 0 calc((100% - (48px * 11)) / 12 + 48px); } }
  @media (min-width: 1025px) and (max-width: 1366px) {
    .jam .body-col {
      padding: 0 calc((100% - (44px * 11)) / 12 + 44px); } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .jam .body-col {
      padding: 0 calc((100% - (32px * 11)) / 12 + 32px); } }
  @media (min-width: 411px) and (max-width: 767px) {
    .jam .body-col {
      padding: 0; } }
  @media (max-width: 410px) {
    .jam .body-col {
      padding: 0; } }

.image {
  margin: 4px 0 20px 0; }
  .image.left, .image.right {
    width: calc(50% - (48px / 2)); }
  .image.left {
    float: left;
    margin-right: 48px; }
  .image.right {
    float: right;
    margin-left: 48px; }
  .image.jutting {
    margin: 0 calc((10% + 3.8px) * -1) 44px calc((10% + 3.8px) * -1); }
  @media (min-width: 1025px) and (max-width: 1366px) {
    .image.left, .image.right {
      width: calc(50% - (44px / 2)); }
    .image.left {
      float: left;
      margin-right: 44px; }
    .image.right {
      float: right;
      margin-left: 44px; }
    .image.jutting {
      margin: 0 calc((10% + 3.4px) * -1) 40px calc((10% + 3.4px) * -1); } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .image.left, .image.right {
      width: calc(50% - (32px / 2)); }
    .image.left {
      float: left;
      margin-right: 32px; }
    .image.right {
      float: right;
      margin-left: 32px; }
    .image.jutting {
      margin: 0 calc((10% + 2.2px) * -1) 36px calc((10% + 2.2px) * -1); } }
  @media (min-width: 411px) and (max-width: 767px) {
    .image.left, .image.right {
      width: calc(50% - (20px / 2)); }
    .image.left {
      float: left;
      margin-right: 20px; }
    .image.right {
      float: right;
      margin-left: 20px; }
    .image.jutting {
      margin: 0 calc((6.25% + 0.25px) * -1) 32px calc((6.25% + 0.25px) * -1);
      content: 'tits'; }
    .image.left, .image.right {
      margin-left: 0;
      width: 100%; } }
  @media (max-width: 410px) {
    .image.left, .image.right {
      width: calc(50% - (16px / 2)); }
    .image.left {
      float: left;
      margin-right: 16px; }
    .image.right {
      float: right;
      margin-left: 16px; }
    .image.jutting {
      margin: 0 calc((6.25% + 0px) * -1) 28px calc((6.25% + 0px) * -1);
      content: 'tits'; }
    .image.left, .image.right {
      margin-left: 0;
      width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .side-col {
    padding-left: calc((100% - (32px * 3)) / 4); } }

@media (min-width: 1025px) and (max-width: 1366px) {
  .side-col {
    padding-left: calc((100% - (44px * 3)) / 4); } }

@media (min-width: 1367px) {
  .side-col {
    padding-left: calc((100% - (48px * 3)) / 4); } }
