
@import '../jam/base';
@import '../jam/grid';
@import '../jam/type';

.main {
    
    @each $media in $all-media {
        
        @if $media == large or $media == standard {
            
            $unit: calc(#{percentage(1/13)} + (#{xgap($media)} / 12));
            padding: 0 $unit;
            
        } @else {
                
            @include media($media) {
                padding: 0;
            }
            
        }
        
    }
    
}

.image {
    
    @each $media in $all-media {
            
        margin-bottom: 18px;

        @if $media == large or $media == standard {
    
            &.left, &.right {
                width: calc(50% - (#{xgap($media)} / 2));
            }
                
            &.left {
                float: left;
                margin-right: xgap($media);
            }
            
            &.right {
                float: right;
                margin-left: xgap($media);
            }

            &.jutting {
                $unit: calc((#{percentage(1/11)} + (#{xgap($media)} / 10)) * -1);
                margin: 0 $unit 24px $unit;
            }

        } @else if $media == tablet {
    
            @include media($media) {

                &.jutting {
                    $unit: calc((#{percentage(1/13)} + (#{xgap($media)} / 12)) * -1);
                    margin: 0 $unit 24px $unit;
                }

            }

        } @else {

            @include media($media) {

                &.jutting {
                    $unit: calc((#{percentage(1/16)} + (#{xgap($media)} / 15)) * -1);
                    margin: 0 $unit 20px $unit;
                }

            }

        }
        
    }
    
}
    