
@import '../jam/base';
@import '../jam/_grid';
@import '../jam/type';


// Return width of one column plus one gutter

@function unit($cols, $media, $mod) {
    $unit: calc((#{percentage(1/$cols)} + #{(xgap($media) / $cols - 1)}) * #{$mod});
    @return $unit;
}

.jam .body-col {

    display: block !important;
    
    @each $media in $single-media {
        
        @if $media == large or $media == standard or $media == tablet {
            
            @include media($media) {
                $unit: unit(12, $media, 1);
                padding: 0 $unit;
            }
            
        } @else {
                
            @include media($media) {
                padding: 0;
            }
            
        }
        
    }
    
}

@mixin image($media) {
    
    &.left, &.right {
        width: calc(50% - (#{xgap($media)} / 2));
    }
    
    &.left {
        float: left;
        margin-right: xgap($media);
    }
    
    &.right {
        float: right;
        margin-left: xgap($media);
    }

    @if $media == large or $media == standard or $media == tablet  {
    
        &.jutting {
            // $unit: calc((#{percentage(1/10)} + (#{xgap($media)} / 9)) * -1);
            $unit: unit(10, $media, -1);
            margin: 0 $unit ygap($media) $unit;
        }

    } @else if $media == phone or $media == plus {

        &.jutting {
            // $unit: calc((#{percentage(1/16)} + (#{xgap($media)} / 15)) * -1);
            $unit: unit(16, $media, -1);
            margin: 0 $unit ygap($media) $unit;
        }
        
        &.left, &.right {
            width: 100%;
        }

    }

}

.image {

    margin: 4px 0 20px 0;

    @include image(large);
    
    @each $media in $all-media {

        @if $media == standard {
    
            @include media($media) {
    
                @include image($media);

            }

        } @else if $media == tablet {
    
            @include media($media) {
    
                @include image($media);

            }

        } @else if $media == phone or $media == plus {

            @include media($media) {
    
                @include image($media);

            }

        }
        
    }
    
}

@include media(tablet-large) {
    
    .jam .pad-l-1 {
        row-gap: 0;
        max-height: 0;
    }

}
