
@import '../base';

@mixin font() {
    padding-top: 4px;
    font-family: 'Lucida Console', monospace;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

#dev-box, .dev-label {
    position: fixed;
    display: block;
    z-index: 100;
    bottom: 20px;
    left: 0;
    margin: 0;
    padding: 4px 8px 3px 8px;
    @include font();
    color: white;
    background-color: black;
}

.dev-label {
    display: none;
    position: absolute;
    top: 0;
    height: 17px;
    color: $grey-40;
    background-color: rgba(255, 240, 240, 0.8);
}

.dev-label .id {
    color: black;
}

.row > .dev-label {
    top: -25px;
    color: $grey-60;
}

.dev-mode .dev-label {
    display: block;
}

$color-dev-bkgd: rgba(255, 0, 0, 0.1);

#dev-grid {
    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin: 0 auto;
    width: 100%;
        
    [class*=row-] {

        grid-template-columns: repeat($row-max, 1fr);
        
        @for $row from 1 through $row-max {
            
            > div:nth-of-type(#{$row}) {
                grid-column: #{$row};
    
                @each $media in $single-media {
                        
                    @include media($media) {
                        padding: 0 (xgap($media) / 2);
                    }

                }
                
            }
            
        }
        
    }
        
    [class*=row-] > div {
        overflow: hidden;
        @include font();
        background-color: $color-dev-bkgd;
        background-clip: content-box;
    }

    [class*=row-] > div.dev-label {
        display: none;
    }
        
    [class*=row-] > div:nth-of-type(n+#{($row-max / 2) + 1}) {
        text-align: right;
    }
    
}

.jam [class*=row-][class*=cols-] .dev-label {

    grid-column: 1 / -1;
    
    @each $media in $single-media {
            
        @include media($media) {
            padding: 8px (xgap($media) / 2) 10px (xgap($media) / 2);
        }

    }

}
