
@import '../../jam/base';
@import '../../jam/_grid';
@import '../../jam/type';


@mixin body-col($media) {

    @if $media == phone-plus {
        
        .body-cols {
            width: 100%;
        }
        
    }

    .body-col {

        @if $media == large or $media == standard or $media == tablet {

            padding-left: jam-unit(16, $media, 1);
            padding-right: jam-unit(16, $media, 1);
        
        } @else if $media == phone or $media == plus {

            padding-left: jam-unit(18, $media, 1);
            padding-right: jam-unit(18, $media, 1);

        }

        [class*=jam-cols-] {

            padding: jam-gap-y($media, 0.5) 0 jam-gap-y($media, 0.5) 0;

            div { 
                padding: 0 0 jam-gap-y($media, 1) 0;
            }

        }

    }

}

@mixin jutting($media) {

    .body-col[class*=jam-span-] .jutting {
    
        @if $media == large or $media == standard or $media == tablet {
        
            margin-left: jam-unit(10, $media, -1);
            margin-right: jam-unit(10, $media, -1);
            width: jam-unit(10, $media, 12);
    
        } @else if $media == phone or $media == plus {
    
            margin-left: jam-unit(16, $media, -1);
            margin-right: jam-unit(16, $media, -1);
            width: jam-unit(16, $media, 18);

            * {
                padding-left: 0;
                padding-right: 0;
            }

        }

        padding-bottom: jam-gap-y($media, 1);

    }

}

@mixin image($media) {

    .body-col .image {

        @if $media == large or $media == standard or $media == tablet  {
            margin: 3px 0 jam-gap-y($media, 0.5) 0;
        } @else {
            margin: 3px 0 jam-gap-y($media, 1) 0;
        }
        
        &.left, &.right {
            padding: 0 !important;
            width: 50%;
        }
        
        &.left {
            float: left;
            margin-right: jam-gap-x($media, 0.5);
        }
        
        &.right {
            float: right;
            margin-left: jam-gap-x($media, 0.5);
        }
    
        @if $media == phone or $media == plus {
            
            &.left, &.right {
                margin-left: 0;
                width: 100%;
            }
    
        }

    }

}

@mixin side-col($media) {

    .side-col {

        @if $media == large or $media == standard or $media == tablet  {

            padding-left: jam-unit(16, $media, 1);
    
        }
    
    }

}

// .jam {

    @include body-col(large);
    @include image(large);
    @include jutting(large);// Must come after image
    @include side-col(large);
    
    @each $media in $all-media {
        
        @if $media != large and $media != phone-plus {
            
            @include jam-media($media) {

                @include body-col($media);
                @include image($media);
                @include jutting($media);
                @include side-col($media);

            }
            
        }

        @if $media == phone-plus {
            
            @include jam-media($media) {
                .body-cols {
                    width: 100%;
                }
            }
            
        }
        
    }
    
// }
