
@import '../../jam/config';
@import '../../jam/jam';
@import '../../jam-type/jam-type';

@mixin body-col($media) {

    .body-col {

        &[class*=jam-span-] > div:first-child {
            margin-top: 0;
        }

    }

}

@mixin jutting($media) {

    .body-col[class*=jam-span-] .jutting {
    
        @if $media == large or $media == standard or $media == tablet {
        
            margin-left: jam-unit(12, $media, -1);
            margin-right: jam-unit(12, $media, -1);
            width: jam-unit(12, $media, 14);
    
        } @else if $media == phone or $media == plus {
    
            margin-left: jam-unit(16, $media, -1);
            margin-right: jam-unit(16, $media, -1);
            width: jam-unit(16, $media, 18);

            * {
                padding-left: 0;
                padding-right: 0;
            }

        }

        margin-top: jam-gap-y($media, 1.25);
        margin-bottom: jam-gap-y($media, 1.25);

    }

}

@mixin image($media) {

    .body-col .image {

        @if $media == large or $media == standard or $media == tablet  {
            margin: 3px 0 24px 0;
        } @else {
            margin: 12px 0 30px 0;
        }
        
        &.left, &.right {
            width: 50%;
        }
        
        &.left {
            float: left;
            margin-right: jam-gap-x($media, 0.5);
        }
        
        &.right {
            float: right;
            margin-left: jam-gap-x($media, 0.5);
        }
    
        @if $media == phone or $media == plus {
            
            &.left, &.right {
                margin-left: 0;
                width: 100%;
            }
    
        }

    }

}

@mixin side-col($media) {

    .side-col {

        @if $media == large or $media == standard or $media == tablet  {
            padding-left: jam-unit(16, $media, 1);
        }
    
    }

}

@include body-col(large);
@include image(large);
@include jutting(large);// Must come after image
@include side-col(large);

@each $media in $all-media {
    
    @if $media != large and $media != phone-plus {
        
        @include jam-media($media) {

            @include body-col($media);
            @include image($media);
            @include jutting($media);
            @include side-col($media);

        }
        
    }
    
}
