
//  V A R I A B L E S

//  Basic grid unit amounts
$span-max:  16;
$span-min:  4;

//  Responsive group size - spans that aren't full width are
//  grouped together on mobile to create fewer width variations
$span-rgs:  2;

//  Maximum number of evenly spaced columns
$cols-max:  3;

//  Maximum grid unit difference in .cols-2 child widths
$skew-max:  4;

$ygap-ph:   12px;
$ygap-pl:   24px;
$ygap-tb:   32px;
$ygap-st:   40px;
$ygap-lg:   52px;

$xgap-ph:   16px;
$xgap-pl:   28px;
$xgap-tb:   36px;
$xgap-st:   44px;
$xgap-lg:   56px;

$plus:      414px;  // iPhone 5 landscape + 1px
$tablet:    768px;  // iPhone 6, 7, 8 Plus landscape + 1px
$standard:  1025px; // iPad 10" landscape, 13" portrait + 1px
$large:     1367px; // Common 13" laptop size + 1px

$grey-5:    #f5f5f5;// 5%
$grey-10:   #ececec;// 10%
$grey-20:   #cdcdcd;// 20%
$grey-30:   #c2c2c2;// 30%
$grey-40:   #acacac;// 40%
$grey-50:   #959595;// 50%
$grey-60:   #696969;// 60%
$grey-70:   #636363;// 70%
$grey-80:   #484848;// 80%


//  M E D I A   Q U E R I E S

@mixin media($media) {
    
    //  Individual ranges

    @if $media == phone {
        @media (max-width: $plus - 1px) { @content; }
    }

    @if $media == plus {
        @media (min-width: $plus) and (max-width: $tablet - 1px) { @content; }
    }

    @if $media == tablet {
        @media (min-width: $tablet) and (max-width: $standard - 1px) { @content; }
    }

    @if $media == standard {
        @media (min-width: $standard) and (max-width: $large - 1px) { @content; }
    }

    @if $media == large {
        @media (min-width: $large) { @content; }
    }

    //  Combined ranges

    @if $media == phone-plus {
        @media (max-width: $tablet - 1px) { @content; }
    }

    @if $media == phone-tablet {
        @media (max-width: $standard - 1px) { @content; }
    }

    @if $media == phone-standard {
        @media (max-width: $large - 1px) { @content; }
    }

    @if $media == plus-tablet {
        @media (min-width: $plus) and (max-width: $standard - 1px) { @content; }
    }

    @if $media == plus-standard {
        @media (min-width: $plus) and (max-width: $large - 1px) { @content; }
    }

    @if $media == plus-large {
        @media (min-width: $plus) { @content; }
    }

    @if $media == tablet-standard {
        @media (min-width: $tablet) and (max-width: $large - 1px) { @content; }
    }

    @if $media == tablet-large {
        @media (min-width: $tablet) { @content; }
    }
    
    @if $media == standard-large {
        @media (min-width: $standard) { @content; }
    }

}


//  M I X I N S

//  responsive fixed-width gaps between columns

@mixin gaps() {
    
    @include media(phone) {
        grid-column-gap: $xgap-ph;
        grid-row-gap: $ygap-pl;
    }
    
    @include media(plus) {
        grid-column-gap: $xgap-pl;
        grid-row-gap: $ygap-pl;
    }
    
    @include media(tablet) {
        grid-column-gap: $xgap-tb;
        grid-row-gap: $ygap-tb;
    }
    
    @include media(standard) {
        grid-column-gap: $xgap-st;
        grid-row-gap: $ygap-st;
    }
    
    @include media(large) {
        grid-column-gap: $xgap-lg;
        grid-row-gap: $ygap-lg;
    }
    
}


//  T Y P E

//  Moved all the type mixins here so they can be imported by the
//  modules without duplicating all the final type CSS in them

@mixin h1 {
    
    margin: 0 0 1.6rem 0;
    font-size: 4.4rem;
    font-weight: 300;
    line-height: 5.0rem;
    
    @include media(lower-phone) {
        margin: 0 0 1.4rem 0;
        font-size: 3.8rem;
        line-height: 4.4rem;
    }
    
}

@mixin h2 {
    
    margin: 0 0 1.4rem 0;
    font-size: 3.8rem;
    font-weight: 300;
    line-height: 4.4rem;
    
    @include media(phone) {
        font-size: 3.4rem;
        line-height: 4rem;
    }
    
}

@mixin h3 {
    margin: 0 0 1.4rem 0;
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 3.6rem;
}

@mixin h4 {
    margin: 0 0 1rem 0;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 3.2rem;
}

@mixin p-large {

    margin: 0 0 1.6rem 0;
    font-size: 2.0rem;
    line-height: 2.6rem;

    @include media(standard) {
        line-height: 2.8rem;
    }

    @include media(phone) {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

}

@mixin p {

    margin-bottom: 1.6rem;
    padding: 0;
    font-size: 1.8rem;
    line-height: 2.4rem;

    @include media(standard) {
        // line-height: 2.6rem;
    }

}

@mixin p-small {

    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: 0.01em;

    @include media(phone) {
        // font-size: 1.5rem;
        // line-height: 2rem;
    }

}

@mixin p-tiny {
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
}
