
//  V A R I A B L E S

//  Basic grid unit amounts
$span-max:  18;
$span-min:  4;

//  Responsive group size - spans that aren't full width are
//  grouped together on mobile to create fewer width variations
$span-resp-grp:  2;

//  Maximum number of evenly spaced columns
$cols-max:  3;

//  Maximum grid unit difference in .cols-2 child widths
$skew-max:  4;

//  
$all-media: large, standard, tablet, plus, phone;

$ygap-ph:   12px;
$ygap-pl:   20px;
$ygap-tb:   28px;
$ygap-st:   40px;
$ygap-lg:   52px;

$xgap-ph:   16px;
$xgap-pl:   20px;
$xgap-tb:   32px;
$xgap-st:   44px;
$xgap-lg:   52px;

$plus:      414px;  // iPhone 5 landscape + 1px
$tablet:    768px;  // iPhone 6, 7, 8 Plus landscape + 1px
$standard:  1025px; // iPad 10" landscape, 13" portrait + 1px
$large:     1367px; // Common 13" laptop size + 1px

$grey-5:    #f5f5f5;// 5%
$grey-10:   #ececec;// 10%
$grey-20:   #cdcdcd;// 20%
$grey-30:   #c2c2c2;// 30%
$grey-40:   #acacac;// 40%
$grey-50:   #959595;// 50%
$grey-60:   #696969;// 60%
$grey-70:   #636363;// 70%
$grey-80:   #484848;// 80%


//  M E D I A   Q U E R I E S

@mixin media($media) {
    
    //  Individual ranges

    @if $media == phone {
        @media (max-width: $plus - 1px) { @content; }
    }

    @if $media == plus {
        @media (min-width: $plus) and (max-width: $tablet - 1px) { @content; }
    }

    @if $media == tablet {
        @media (min-width: $tablet) and (max-width: $standard - 1px) { @content; }
    }

    @if $media == standard {
        @media (min-width: $standard) and (max-width: $large - 1px) { @content; }
    }

    @if $media == large {
        @media (min-width: $large) { @content; }
    }

    //  Combined ranges

    @if $media == phone-plus {
        @media (max-width: $tablet - 1px) { @content; }
    }

    @if $media == phone-tablet {
        @media (max-width: $standard - 1px) { @content; }
    }

    @if $media == phone-standard {
        @media (max-width: $large - 1px) { @content; }
    }

    @if $media == plus-tablet {
        @media (min-width: $plus) and (max-width: $standard - 1px) { @content; }
    }

    @if $media == plus-standard {
        @media (min-width: $plus) and (max-width: $large - 1px) { @content; }
    }

    @if $media == plus-large {
        @media (min-width: $plus) { @content; }
    }

    @if $media == tablet-standard {
        @media (min-width: $tablet) and (max-width: $large - 1px) { @content; }
    }

    @if $media == tablet-large {
        @media (min-width: $tablet) { @content; }
    }
    
    @if $media == standard-large {
        @media (min-width: $standard) { @content; }
    }

}


//  F U N C T I O N S

//  responsive fixed-width gaps between columns

@function xgap($media) {
        
    $xgap: '';
    
    @if $media == phone {
        $xgap: $xgap-ph;
    }   

    @if $media == plus {
        $xgap: $xgap-pl;
    }

    @if $media == tablet {
        $xgap: $xgap-tb;
    }

    @if $media == standard {
        $xgap: $xgap-st;
    }

    @if $media == large {
        $xgap: $xgap-lg;
    }
    
    @return $xgap;
    
}

@function ygap($media) {
        
    $ygap: '';
    
    @if $media == phone {
        $ygap: $ygap-ph;
    }   

    @if $media == plus {
        $ygap: $ygap-pl;
    }

    @if $media == tablet {
        $ygap: $ygap-tb;
    }

    @if $media == standard {
        $ygap: $ygap-st;
    }

    @if $media == large {
        $ygap: $ygap-lg;
    }
    
    @return $ygap;
    
}
