
@import '../jam/config';


//  B A S E

html {
    
   font-size: 62.5%;// 16 / 10
        
    @include jam-media(phone-tablet) {
        font-size: 56.25%;// 16 / 9
    }
    
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
}


//  M I X I N S

@mixin h1 {
    margin: 2.4rem 0 2rem 0;
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 4.4rem;
}

@mixin h2 {
    margin: 2.4rem 0 2rem 0;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4.0rem;
}

@mixin h3 {
    margin: 2.4rem 0 2rem 0;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3.6rem;
}

@mixin h4 {
    margin: 2.4rem 0 2rem 0;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.2rem;
}

@mixin p-xlarge {
    margin: 2rem 0 2rem 0;
    font-size: 2.2rem;
    line-height: 3.2rem;
}

@mixin p-large {
    margin: 2rem 0 2rem 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

@mixin p {
    margin: 2rem 0 2rem 0;
    font-size: 1.7rem;
    line-height: 2.6rem;
}

@mixin p-small {
    margin: 1.8rem 0 1.8rem 0;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
}

@mixin p-tiny {
    margin: 1.6rem 0 1.6rem 0;
    font-size: 1.3rem;
    line-height: 2.1rem;
    letter-spacing: 0.01em;
}


//   S T Y L E S

h1 {
   @include h1;
}

h2 {
    @include h2;
}

h3 {
   @include h3;
}

h4 {
   @include h4;
}

h1 +, h2 +, h3 +, h4 + {

    h1, h2, h3, h4 {
        margin-top: 2rem;
    }

}

p.large, .large p, blockquote {
   @include p-large;
}

p, li, td, input, select, label, textarea {
   @include p;
}

ul, ol {
    margin: 2rem 0 2.4rem 0;
}

li {
    margin-top: 0;
}

p.small, .small p, .small li, {
    @include p-small;
    margin-bottom: 1.4rem;
}

p.tiny, .tiny p, .tiny li {
    @include p-tiny;
    margin-bottom: 1.2rem;
}

h5, h6 {
    @include p-tiny;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

ul, ol {
    list-style-type: none;
    list-style: none;
    margin: 0 0 2.4rem 0;
}

li {
    position: relative;
    margin-bottom: 0.6rem;
    padding-left: 0;
    text-align: left;
}

ul li {
   list-style-type: disc;
   margin-left: 1.7rem;
}

ol li {
    list-style: decimal;
    margin-left: 1.9rem;
}

nav li {

    list-style: none;

    a {
        text-decoration: none;
    }
    
}

div > {

    p, h4, h3, h2, h1, ul, ol, blockquote {

        &:first-child {
            margin-top: 0;
        }

    }

}

// Remove bottom margins from last paragraphs etc. Causes some issues, but usually beneficial
p, img, ul, ol, blockquote {
    &:last-child {
        margin-bottom: 0;
    }
}
